html,
body {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #00112f;
  color: #ffffff;
  padding: 20px 5px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: fit-content;
  transition: backdrop-filter 0.3s ease;
}

.header__container {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
}

.header__logo img {
  height: 40px;
}

.fas {
  cursor: pointer;
}

.button-container button {
  border: none;
  background-color: #00112f;
  color: #ffffff;
  width: 50%;
  position: relative;
  font-size: 20px;
}

.button-container button::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #ffffff;
  position: absolute;
  left: 0;
  transition: width 0.3s;
}

.button-container button:hover::after {
  width: 100%;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.overlay.visible {
  display: block;
}

.search-container {
  display: flex;
  align-items: center;
  position: absolute;
  top: 7px;
  left: 20px;
  right: 1px;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
  z-index: 1001;
}

.search-input {
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
  width: 100%;
  text-align: right;
}

.search-input::placeholder {
  color: #acacac;
}

.search-clear-icon {
  margin-right: 10px;
  cursor: pointer;
  font-size: 16px;
  color: #ffffff;
}

.header.blur {
  filter: blur(2px);
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 150px;
  height: 100%;
  overflow-y: scroll; /* Enable vertical scrollbar */
  background-color: #00112f;
  padding: 20px;
  color: #00112f;
  margin-top: 60px;
  z-index: 10000;
}

.sidebar a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.sidebar li {
  padding: 5px;
}

.sidebar a:hover {
  background-color: #90addf8e;
}

.sidebar.visible {
  display: block;
}

.news-slider-container {
  margin-top: 80px;
  width: 100%;
  position: fixed;
  left: 0;
}

.news-slider {
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100vw;
  white-space: nowrap;
  scroll-snap-type: x mandatory;
  display: flex;
  align-items: center;
  height: 300px;
}

.news-slide {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0;
}

.news-slide img {
  width: 390px;
  height: 300px;
  object-fit: cover;
}

.news-details {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.news-date-container {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.news-title {
  background-color: #ffffff;
  width: fit-content;
  position: absolute;
  right: 15px;
}

.news-slogan {
  font-weight: bold;
  color: #ffffff;
  font-size: 1rem;
  margin-bottom: 3px;
  padding: 20px;
}

.news-slider::-webkit-scrollbar {
  width: 2px;
  background-color: #acacac;
}

.news-slider::-webkit-scrollbar-thumb {
  background-color: #00112f;
}
