html,
body {
  margin: 0;
  padding: 0;
  font-family: "JFFlat", sans-serif;
}

@font-face {
  font-family: "JFFlat";
  src: url("./assets/fonts/JFFlat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

AppBar {
  background-color: #00112f;
  color: #ffffff;
  /* padding: 20px 5px; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: fit-content;
  transition: backdrop-filter 0.3s ease;
  width: 100vw;
}

.header__container {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  align-items: center;
  margin-top: 20px;
  transition: transform 0.3s ease-in-out;
}

.header__logo img {
  height: 40px;
}

.button-container button {
  border: none;
  background-color: #00112f;
  color: #ffffff;
  width: 50%;
  position: relative;
  font-size: 20px;
}

.button-container.margin {
  margin-right: 190px;
}

.button-container button:hover::after {
  width: 100%;
}

.button-container .home.active,
.button-container .latest.active {
  border-bottom: 2px solid #ffffff;
  font-weight: bold;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.overlay.visible {
  display: block;
}

.search-container {
  display: flex;
  align-items: center;
  position: absolute;
  top: 7px;
  left: 20px;
  right: 20px;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
  z-index: 10000;
}

TextField {
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
  width: 100%;
  text-align: right;
}

.search-clear-icon {
  margin-right: 10px;
  cursor: pointer;
  font-size: 16px;
  color: #ffffff;
}

.preloader-overlay {
  top: 0;
  right: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 9999; /* Ensures it appears above other content */
}

.loading-indicator {
  font-size: 24px;
  color: #00112f;
  text-align: center;
}

.header.blur {
  filter: blur(2px);
}

.sidebar {
  float: right;
  top: 0;
  right: 0;
  width: 130px;
  height: 100%;
  overflow-y: scroll;
  /* Enable vertical scrollbar */
  background-color: #00112f;
  padding: 20px;
  color: #00112f;
  z-index: 10000;
  margin-right: -30px;
}

.sidebar a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.sidebar li {
  padding: 5px;
  margin-top: 20px;
}

.sidebar a:hover {
  background-color: #90addf8e;
}

.sidebar.visible {
  display: block;
}

.news-slider-container {
  margin-top: 88px;
  margin-left: -32px;
  margin-right: 0;
  width: 100vw;
  position: static;
}

.news-slider {
  overflow-y: hidden;
  width: 100vw;
  white-space: nowrap;
  display: flex;
  align-items: center;
  height: 300px;
}

.news-slide {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0;
}

.news-slide img {
  width: 100vw;
  height: 300px;
  object-fit: cover;
}

.news-details {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.news-date-container {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.news-category {
  background-color: #ffffff;
  width: fit-content;
  position: absolute;
  right: 28px;
  font-size: 15px;
}

.news-slogan {
  font-weight: bold;
  color: #ffffff;
  font-size: 0.6rem;
  margin-top: 190px;
  white-space: normal;
  overflow-wrap: break-word;
  margin-right: 17px;
}

.categories-container {
  background-color: #ffffff;
}

.category-name {
  font-size: 18px;
  color: #ffffff;
  background-color: #00112f;
  margin-bottom: 5px;
  text-align: end;
  width: 100%;
  margin-top: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}

.category {
  margin-bottom: 3px;
}

.name {
  color: #ffffff;
  background-color: #00112f;
  padding: 3px 5px;
  font-size: 11px;
}

.news-item {
  background-color: #e2d9d9;
  width: 100%;
  margin-top: 10px;
}

.news-info {
  margin-top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.news-date {
  color: #2e2c2c;
}

.news-title {
  font-size: 13px;
  color: #000000;
  margin-top: 5px;
  text-align: right;
}

.latest-list {
  margin-top: 85px;
  overflow-y: scroll;
}

.latest-item {
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  padding: 10px;
  height: 125px;
}

.latest-item img {
  width: 100px;
  height: 50px;
  object-fit: cover;
}

.latest-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.latest-title {
  font-weight: bold;
  margin-bottom: 5px;
  line-height: 1.2em;
}

.line {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.latest-category {
  color: #ffffff;
  background-color: #00112f;
  padding: 3px 5px;
  border-radius: 5px;
  font-size: 11px;
}

.specific-category-page {
  margin-top: -45px;
  width: 100vw;
  margin-left: -33px;
}

.main-news {
  position: static;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}

.main-news-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: -300px;
}

.main-news-image {
  width: 100%;
  height: auto;
  margin-top: 15px;
}

.snews-date {
  flex: 1;
  text-align: left;
}

.snews-category {
  text-align: right;
  background-color: #ffffff;
  font-weight: bold;
  padding: 2px;
}

.other-news {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  background-color: #acacac;
}

.news-item {
  flex: 1 1 calc(50% - 20px);
  height: 100%;
  padding-left: 20px;
}

.news-item-image {
  width: 100%;
  height: auto;
}

.news-item-info {
  display: flex;
  justify-content: space-between;
  margin-top: -10px;
}

.news-item-date {
  text-align: left;
  font-size: smaller;
  width: 100%;
}

.news-item-category {
  color: #ffffff;
  background-color: #00112f;
  padding: 3px 5px;
  font-size: 11px;
  width: fit-content;
  height: fit-content;
}

.news-item-title {
  text-align: center;
  font-size: 10px;
  margin-top: -10px;
}

.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 1.5rem;
  color: #00112f;
}

.no-news {
  margin-top: 50px;
}

.search-results-container {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  max-width: 600px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 25px;
}

.single-news-article {
  position: static;
  margin-top: 35px;
  object-fit: cover;
}

.single-news-article img {
  width: 100vw;
  object-fit: contain;
  margin-left: -32px;
  margin-right: 0;
}

.article-info-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.article-date {
  font-size: 1em;
  color: #acacac;
}

.category-label {
  color: #ffffff;
  background-color: #00112f;
  padding: 0 5px;
  width: fit-content;
  height: fit-content;
}

hr {
  border: 1px solid #00112f;
  margin-top: -10px;
}

.article-title {
  font-size: 1.1em;
  font-weight: bolder;
  text-align: right;
  color: black;
}

.article-content {
  color: #acacac;
  font-weight: bold;
  font-size: 1em;
  text-align: right;
}

/* Shift the content to the left when the drawer is open */
.shift-left {
  transform: translateX(-50px);
}

.sidebar-content {
  width: 150px;
  text-align: center;
}

.sidebar-content ul {
  list-style-type: none;
  padding: 10px;
}

.sidebar-content ul li {
  margin: 10px 0;
}

.sidebar-content ul li a {
  color: #ffffff;
  text-decoration: none; /* Remove underlines */
  font-size: 18px;
}

.sidebar-content ul li a:hover {
  text-decoration: underline;
}

.app-container {
  transition: margin-right 0.3s ease;
}

.app-container.shift-left {
  margin-right: 240px;
}

.header__container,
.button-container {
  transition: margin-right 0.3s ease;
}

.header__container.shift-left,
.button-container.shift-left {
  margin-right: 240px;
}
